@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
header {
    text-align: center;
}
body {
    background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    font-family: Source Sans Pro;
    font-size: 17pt;
    font-weight: 300;
    line-height: 1.65;
    font-family: 'Source Sans Pro', sans-serif;
}
section{
    background-image: #ffffff;
}
h1, h2, h3, h4, a{
    font-size: 42pt;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}
.header p, a {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1em;
    letter-spacing: 0;
}
nav{
    text-align: center;
}
ul {
    list-style: none;
    display: inline-flex;
}
section, ul, li{
    text-align: center;
}