body {
    /*Mudar cor de fundo do site*/
    background: #1E9600;  
    background: -webkit-linear-gradient(to bottom, #000000, #ff0000, #e5ff00);  
    background: linear-gradient(to bottom, #000000, #ff0000, #e5ff00);  
    background-attachment: fixed;
}
header{
    color: white;
    text-align: center; 
}
section {
    /*Colocando um fundo branco meio transparente*/
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.2)    
}
nav{
    /*Alinhando testo e cor*/
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}
ul {
    /*Tirando o ponto da ul*/
    list-style: none;
    display: inline-flex;
    padding-left: 0%;
}
footer{
    text-align: center;
}
.container-imagens img {
    /*utilizando a imagem em 100%*/
    width: 100%;
}
.container-imagens {
    /*Esapaçamento de 10px*/
    column-gap: 10px;
}
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
    /*Para quando se passar o mouse, apareça em baixo vermelho*/
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}
.button {
    display: inline-block;
    padding: 2px 10px;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #ff0000;
}