body {
    /*Mudar cor de fundo do site*/
    background: #1E9600;  
    background: -webkit-linear-gradient(to bottom, #000000, #ff0000, #e5ff00);  
    background: linear-gradient(to bottom, #000000, #ff0000, #e5ff00);  
    background-attachment: fixed;
}
section {
    /*Colocando um fundo branco meio transparente*/
    background-color: rgba(255, 255, 255, 0.2)    
}
h1{
    /*Cor do titulo e cor de fundo*/
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
}
header{
    /*Alinhando texto e cor de texto*/
    text-align: center;
    color: white;
}
nav, section{
    /*Alinhando testo e cor*/
    text-align: center;
    color: white;
}
ul {
    /*Tirando o ponto da ul*/
    list-style: none;
    display: inline-flex;
    padding-left: 0%;
}
footer{
    text-align: center;
}
.container-imagens img {
    /*utilizando a imagem em 100%*/
    width: 100%;
}
.container-imagens {
    /*Esapaçamento de 10px*/
    column-gap: 10px;
}
